<!DOCTYPE html>
<html>
<head>
    <title>Formulario de nombres</title>
    <link rel="stylesheet" type="text/css" href="/static/estilosFormulario.css">
</head>
<body>
<div class="container">
    <h1>Formulario de nombres</h1>
    <form action="/ejercicio2" method="POST">
        <label for="nombre1">nombre 1 :</label>
        <input type="text" id="nombre1" name="nombre1" required>
        <br>
        <label for="nombre2">nombre 2 :</label>
        <input type="text" id="nombre2" name="nombre2" required>
        <br>
        <label for="nombre3">nombre 3 :</label>
        <input type="text" id="nombre3" name="nombre3" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if nombre %}
    <div>
        <p>El Nombre con mayor cantidad de caracteres es : {{nombre}}</p>
        <p>El Nombre tiene : {{cant}} Caracteres</p>
    </div>
    {% endif %}
</div>
</body>
</html>